[submodule "submodules/webview"]
path = submodules/webview
url = git@github.com:alx-home/webview.git
[submodule "submodules/json"]
	path = submodules/json
	url = git@github.com:alx-home/json.git
[submodule "submodules/promise"]
	path = submodules/promise
	url = git@github.com:alx-home/promise.git
[submodule "submodules/windows"]
	path = submodules/windows
	url = git@github.com:alx-home/windows.git
[submodule "submodules/build_tools"]
	path = submodules/build_tools
	url = git@github.com:alx-home/build_tools.git
[submodule "submodules/cpp_utils"]
	path = submodules/cpp_utils
	url = git@github.com:alx-home/cpp_utils.git
[submodule "submodules/ts-utils"]
	path = submodules/ts-utils
	url = git@github.com:alx-home/ts-utils.git
