/*
 * SPDX-License-Identifier: (GNU General Public License v3.0 only)
 * Copyright © 2024 Alexandre GARCIN
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the
 * GNU General Public License as published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program. If
 * not, see <https://www.gnu.org/licenses/>.
 */

#include <windows.h>
#include <Version.h>

#include "Resources.h"

IDI_ICON1         ICON DISCARDABLE "../assets/vfrnav.ico"
IDI_APPLICATION   ICON DISCARDABLE "../assets/vfrnav.ico"

VS_VERSION_INFO VERSIONINFO
   FILEVERSION     VER_FILEVERSION
   PRODUCTVERSION  VER_PRODUCTVERSION
   FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
   FILEFLAGS 0x1L
#else
   FILEFLAGS 0x0L
#endif
   FILEOS 0x40004L
   FILETYPE 0x1L
   FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_PRODUCTNAME_STR
            VALUE "LegalCopyright",   VER_COPYRIGHT_STR
            VALUE "LegalTrademarks",  "\0"
            VALUE "OriginalFilename", "msfs2024-vfrnav_server.exe\0"
            VALUE "PrivateBuild",     "\0"
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
            VALUE "SpecialBuild",     "\0"
        END
    END

    BLOCK "VarFileInfo"

    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END